.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 300px;
  position: relative;
  left: 15%;
}

.grid-item {
  width: 100px;
  height: 100px;
  border-radius: 15px;
}
