.scroll-container {
  overflow-x: auto; /* Enables horizontal scrolling */
  display: flex;
  flex-wrap: nowrap; /* Prevents wrapping */
  width: 100vw;
  flex-direction: row; /* Ensures a horizontal layout */
  scrollbar-width: none;
  scrollbar-color: black transparent;
  padding-left: 5%;
}

.scroll-content {
  display: flex; /* Places items in a single row */
  gap: 15px; /* Adds spacing between items */
  flex-wrap: nowrap; /* Prevent wrapping */
}

.icon-container {
  width: 80px;
  height: 80px;
  border-radius: 15px;
  position: absolute;
}

.text-container {
  margin-left: 10px;
  width: 60%;
  color: black;
  text-align: left;
}

.scrolling-parent-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar on WebKit-based browsers */
}
.med-wrapper {
}
