.list-container {
  list-style: none;
  padding: 0px;
  align-self: center;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.placeholder-container {
  opacity: 0.7;
  padding: 10px;
}

.placeholder-button {
  background-color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  background-color: transparent;
}

.icon-placeholder {
  width: 80px;
  height: 80px;
  background-color: #e0e0e0;
  border-radius: 15px;
}

.text-placeholder {
  margin-left: 10px;
}

.title-placeholder {
  background-color: #e0e0e0ec;
  border-radius: 5px;
  width: 100px;
  height: 20px;
  margin-bottom: 10px;
}

.description-placeholder {
  background-color: #e0e0e0;
  border-radius: 5px;
  width: 200px;
  height: 30px;
}

.skill-container {
  margin-top: 10px;
  background-color: transparent;
}
